.elementos_footer{
  margin-top:2%;
}

.rodape{
  position: relative;
  width: 100%;
  background-color: #2e2e2e;
  color: lightgrey;
}

.titulo_footer{
  color:#1f648b;
  font-size: 20px;
}

.rodape a{
  text-decoration: none;
  color:lightgray;
}